*.iml
.gradle
.idea
.DS_Store
/build
.externalNativeBuild
/release
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures
.cxx
