<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kyawhtut.pos">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="stateAlwaysVisible"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".phone.home.PhoneHomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.scanner.ScannerActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--<activity
            android:name=".ui.user.UserActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.table.TableActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar" />-->

        <activity
            android:name=".ui.setting.SettingActivity"
            android:label="@string/label_setting_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>